.card {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;


    .header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .body {
        align-items: center;
    }

    .coins {
        display: flex;
        justify-content: space-between;

        .coin {
            display: flex;
            flex-direction: column;
            margin: 0 1rem;
        }
    }
}