<div class="card" *ngIf="currency">
    <div class="header">
        <img src="https://s3.eu-central-1.amazonaws.com/bbxt-static-icons/type-id/png_16/f231d7382689406f9a50dde841418c64.png"
            alt="BTC" />
            <h3>{{ currency.name }}</h3>
            <p>[BTC]</p>
    </div>
    <div class="body">
        <div class="coins">
            <div class="coin">
                <span>GBP</span>
                <span>2509.60</span>
            </div>
            <div class="coin">
                <span>USD</span>
                <span>2509.60</span>
            </div>
            <div class="coin">
                <span>CNY</span>
                <span>2509.60</span>
            </div>
            <div class="coin">
                <span>EUR</span>
                <span>2509.60</span>
            </div>
        </div>
    </div>
</div>